@font-face {
  font-family: 'Rubik';
  src: url('../font/Rubik-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Rubik';
  src: url('../font/Rubik-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Rubik';
  src: url('../font/Rubik-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

:root {
  --dark-gray: hsl(0, 0%, 17%);
  --gray: hsl(0, 0%, 59%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
  font-family: 'Rubik', sans-serif;
  font-size: 1.6rem;
  line-height: 1.6;
  color: var(--dark-gray);
}
